body {
    background-color: #1f2028;
    color: white;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#root {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}
